<footer class="footer-wrapper">
    <div class="footer-content">
        <div class="footer-name-wrapper">
            <div class="footer-name-content">
                <p class="footer-text"><span>Trainer Name: {{FooterData.Name}}</span></p>
            </div>
        </div>
        <div class="footer-batch-wrapper">
            <div class="footer-batch-content">
                <p class="footer-text"><span>Batch: </span>{{FooterData.Batch}}</p>
            </div>
        </div>
        <div class="footer-current-wrapper">
            <div class="footer-current-content">
                <p class="footer-text"><span>Year: </span>{{FooterData.Year}}</p>
            </div>
        </div>
    </div>
</footer>