<div class="container">
    <h1 class="main-heading">{{Title}}</h1>

    <div class="section section-1">
        <div class="section-heading-wrap">
            <div class="section-heading-content">Company Information</div>
        </div>
        <div class="section-data-wrap">
            <div class="section-data-content">
                <p class="data">
                    <strong class="data-title">Company Name: </strong>
                    <span class="data-body">{{portalData.company.name}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Company Location: </strong>
                    <span class="data-body">{{portalData.company.location}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Company Email: </strong>
                    <span class="data-body">{{portalData.company.email}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Total Employees: </strong>
                    <span class="data-body">{{portalData.company.totalEmployees}}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="section section-2">
        <div class="section-heading-wrap">
            <div class="section-heading-content">Employee Information</div>
        </div>
        <div class="section-data-wrap">
            <div class="section-data-content">
                <p class="data">
                    <strong class="data-title">Employee ID: </strong>
                    <span class="data-body">{{portalData.employee.id}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Employee Name: </strong>
                    <span class="data-body">{{portalData.employee.name}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Department: </strong>
                    <span class="data-body">{{portalData.employee.department}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Designation: </strong>
                    <span class="data-body">{{portalData.employee.designation}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Salary: </strong>
                    <span class="data-body"><span>&#8377;</span> {{portalData.employee.salary}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="section-heading-wrap">
            <div class="section-heading-content">Training Information</div>
        </div>
        <div class="section-data-wrap">
            <div class="section-data-content">
                <p class="data">
                    <strong class="data-title">Trainer Name: </strong>
                    <span class="data-body">{{portalData.training.trainerName}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Technology: </strong>
                    <span class="data-body">{{portalData.training.technology}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Training Duration: </strong>
                    <span class="data-body">{{portalData.training.duration}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="section-heading-wrap">
            <div class="section-heading-content">Developer Information</div>
        </div>
        <div class="section-data-wrap">
            <div class="section-data-content">
                <p class="data">
                    <strong class="data-title">Developer Name: </strong>
                    <span class="data-body">{{portalData.developer.name}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">College Name: </strong>
                    <span class="data-body">{{portalData.developer.college}}</span>
                </p>
                <p class="data">
                    <strong class="data-title">Graduation Year: </strong>
                    <span class="data-body">{{portalData.developer.graduationYear}}</span>
                </p>
            </div>
        </div>
    </div>
</div>